<div style="
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    background-color: rgb(210, 220, 250);
" class="{{vip.register()}}">
    {{vip.method('create')|safe}}<br>
    {{vip.textbox('width')|safe}}x{{vip.textbox('height')|safe}}
</div>