<div style='display: inline-block; margin: 5px; background-color: rgb(210, 250, 220); border-radius: 5px; pointer: cursor; user-select: none; border: 1px solid black;' class='{{vip.register()}} draggable'>
<span style='font-family: Consolas; font-size: 0.5em;'>str</span><span class='input editable' role='textbox' contenteditable style='display: inline-block; font-size: 1em; margin: 1px; min-width: 12px; background-color: white; border-radius: 5px; pointer: cursor; border: 1px solid black;' onblur='updateVariableBuiltin(this.parentElement, this.innerText);'>{{instance}}</span>
</div>