
<div style='
    margin: 0;
    float: left;
    min-width: 240px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    user-select: none;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3))'
    class='toolbar {{vip.register()}} draggable'>
    <div style='width: 100%; height: 48px; text-align: center; font-size: 2em; border-bottom: 1px solid black;'>Functions</div>
    {%for i in range(len(instance.functions))%}
        {{vip.member('functions[%d]'%i)}}<br>
    {%endfor%}
    
</div>