<div style="
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    background-color: white;
    user-select: none;
" class="{{vip.register()}} draggable">
    array{{instance.shape}}<br>
</div>