<div style="
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
" class="{{vip.register()}} vipcall">
{{vip.argument('p')}} - {{vip.argument('q')}}
</div>