
<span class='{{vip.register()}} draggable'>
    <div style="display:flex;flex-direction:row;background-color:#FFFFFF;border-bottom:1px solid #A0A0A0">
        <div style="color:#046BC9;font-size:1.25rem;font-weight:400;font-family:DM Mono;user-select:none;margin-left:0.2rem;margin-right:0.2rem;">{{instance}}</div>
    </div>
</span>