
<span class='{{vip.register()}} draggable'>
    <div style="display:flex;flex-direction:row;background-color:#FFFFFF;border-bottom:1px solid #A0A0A0">
        <div style="color:#8AA352;font-size:1.25rem;font-weight:500;font-family:DM Mono;user-select:none;font-style:italic;margin-right:0.3rem;">"</div>
        <div style="color:#1A6B40;font-size:1.25rem;font-weight:400;font-family:DM Mono;user-select:none;" class='input' role='textbox' onblur='updateVariableBuiltin(this.parentElement, this.innerText);'>{{instance}}</div>
        <div style="color:#8AA352;font-size:1.25rem;font-weight:500;font-family:DM Mono;user-select:none;font-style:italic;margin-right:0.3rem;">"</div>
    </div>
</span>